# My Pipeline for Dev and Prod Environment

trigger: none

parameters:
  - name: environment
    displayName: "Select the Environment"
    type: string
    default: dev
    values:
      - dev
      - prod

############################
# STAGE 1: PRE-COMMIT
############################

stages:
  - stage: A
    displayName: TerraformInitfmtvalplan
    pool: Sumit-Agent-Pool
    jobs:
      - job: TerraformInitfmtvalplan_krenge
        displayName: Terraform-Init_fmt_Val_Plan
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Env/${{ parameters.environment }}'
            backendServiceArm: 'SumitServConn'
            backendAzureRmOverrideSubscriptionID: '3c36d8a3-318c-49fc-a6a2-61a324f33832'
            backendAzureRmResourceGroupName: 'Sumit-Backend-RG'
            backendAzureRmStorageAccountName: 'terrastatecurrentfile'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'terraform_${{ parameters.environment }}.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Env/${{ parameters.environment }}'
            commandOptions: '--auto-approve'
            environmentServiceNameAzureRM: 'SumitServConn'
            environmentAzureRmOverrideSubscriptionID: '3c36d8a3-318c-49fc-a6a2-61a324f33832'
